body {
    width: 750px;
    font-family: Century Gothic, sans-serif;
//    background-color: #660000;
    color: #ccccff;
}

#header {
    margin: 10px;
    font-size: 8pt;
    text-align: center;
}

#header h1 {
    text-align: center;
    font-size: 24pt;
    margin: 4px 4px 1px 4px;
}
    
#headerposts {
    height: Calc(100% - 25px);
//    height: -moz-calc(100% - 25px);
    overflow: hidden;
}


#post {
    display: table;
    max-width: 740px;
    height: auto;
    margin: 10px;
    border-style: hidden;
    border-width: 2px;
    border-radius: 2px;
    padding: 5px;
    background-color: #99ffff;
    color: #330033;
}

#post_header {
    display: table;
    border-style: dashed;
    border-width: 1px;
    border-radius: 3px;
    background-color: #99ffcc;
    padding: 3px;
}

#author {
    display: table-cell;
    padding: 3px;
    width: 540px;
    font-size: 18pt;
}

#author img {
    width: 30px;
    height: 30px;
}

#time {
    display: table-cell,block;
    padding: 3px;
    width: 200px;
    font-size: 10pt;
    text-align: right;
}

#body {

}

#body img {
    max-width: 1000px;
    max-height: 300px;
    float:right;
}


#footer {
    position: fixed;
    bottom: 5px;
    text-align: center;
    width: 750px;
}

#footer a {
//    color: #4863a0;
//    color: #99ffcc;
    color: #ccccff;
    text-decoration: none;
}